.policy__
{
    margin: 0 auto;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    text-align: justify;
    font-size: 18px;
    font-family: monospace;
    color: #fcfcfc;
    background-image: url(../../public/m6.jpg);   
    background-size: cover;
    background-position: center;
}

.policy__ .policy
{
    margin: 0 auto;
    width: 60%;

}

.policy h1
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}